@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
    <h1 class="display-4">Welcome to Razor Sharp Pizzas</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <img class="mainImage image" src="~/images/PizzaTime.jpg" />
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Pizza">Bring me that pizza</a>
</div>
